# Keep everything from the last N days
ALL_FROM_LAST_DAYS=7

# Keep the latest dailiy from the last N days
DAILIES=7

# Keep the earliest weekly from the last N weeks
WEEKLIES=5

# Keep the earliest monthly from the last N months
MONTHLIES=6


# The weekly backup is done on day N (0 is Sunday)
WEEKLY_ON=1

# If present then the container runs in debug mode
# DEBUG=YES

# If present then the container will say what it would do instead of doing it
# DRY_RUN=YES
